{% extends 'base.html' %}
{% block content %}
   


<h1>All Posts </h1>

 <div class="inthecenter">

{% for post in object_list %}
{% if post.header_image %}
<a href="{% url 'article_detail' post.pk %}">
<img  text-align="left"; src="{{ post.header_image.url }}" ></a>
{% endif %}</br></br>




{{ post.body|slice:":500"|safe }}</small>
<li><a href="{% url 'article_detail' post.pk %}">{{post.title}}</a></li>

- {{post.author.first_name}}
    {{post.author.last_name}} - {{ post.post_date }}
    {% if user.is_authenticated %}
    {% if user.id == post.author.id %}
    <br/>
    -<a href="{% url 'update_post' post.pk %}">(Edit)</a>
    <a href="{% url 'delete_post' post.pk %}">(Delete)</a>
    {% endif %}
    {% endif %}
    </br></br></br></br>





 <div class="item item-{{ post.pk }}">

 
    {% endfor%}

    


</div>

</div>
<body>
       </br></br></br>
   

  </body>

{% endblock %}

